<div class="container">
    <h1>Editar Imobiliaria</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Nome:</label>
            <div class="controls">
                <input type="text" ng-model="imobiliaria.nome"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CNPJ:</label>
            <div class="controls">
                <input type="text" ng-model="imobiliaria.cnpj"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancelar()" class="btn btn-small">Cancelar</a>
                <a ng-click="atualizarImobiliaria()" class="btn btn-small btn-primary">Salvar</a>
            </div>
        </div>
    </form>
</div>